:root {
    --color-primary: #2c2c2c;
    --color-secondary: #171717;
    --color-accent: hwb(0 22% 78%);
    --color-text: #ffffff;
    --color-background: #181818;
    --container-width: 600px;
    --container-height: 60vh;
}

html {
    background-color: var(--color-background);
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
}

input[type="range"][orient="vertical"] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}
