:root {
    --color-primary: #1d1d1d;
    --color-secondary: #171717;
    --color-accent: hwb(0 22% 78%);
    --color-text: #ffffff;
    --color-background: #181818;
    --container-width: 1200px;
    --container-height: 60vh;
    --card-color: #2c2c2c;
    --color-tint-primary: #d95656;
    --color-tint-primary-active: #4b1e1e;
    --border-radius: 10px;
}

html {
    background-color: var(--color-background);
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--color-text);
}
