:root {
    --color-primary: #1e1e1e;
    --color-secondary: #0e0e0e;
    --color-accent: hwb(0 22% 78%);
    --color-text: #ffffff;
    --color-background: #181818;
    --container-width: 600px;
    --container-height: 60vh;
}

html {
    background-color: var(--color-background);
}

html,
body {
    margin: 0;
    padding: 0;
}

input[type="range"][orient="vertical"] {
    writing-mode: vertical-lr;
    direction: rtl;
    appearance: slider-vertical;
    width: 16px;
    vertical-align: bottom;
}

.typography-100 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.typography-200 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.typography-300 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.typography-400 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.typography-500 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
